[submodule "third_party/nvblox"]
	path = third_party/nvblox
	url = https://github.com/nvidia-isaac/nvblox.git
[submodule "third_party/pyCuSFM"]
	path = third_party/pyCuSFM
	url = https://github.com/nvidia-isaac/pyCuSFM.git
[submodule "third_party/PyCuVSLAM"]
	path = third_party/PyCuVSLAM
	url = https://github.com/NVlabs/PyCuVSLAM.git
[submodule "third_party/ORB_SLAM3"]
	path = third_party/ORB_SLAM3
	url = https://github.com/UZ-SLAMLab/ORB_SLAM3.git
[submodule "third_party/3dgrut"]
	path = third_party/3dgrut
	url = https://github.com/nv-tlabs/3dgrut.git
